
<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <h2 class="oe_slogan">Website Sale order Payment Details</h2>
        </div>
        <div class="oe_row oe_spaced">
            <h4><p style="margin-left: 42px;  font-size:20px;">Key Features:</p></h4>
            <ul>
                <li style="list-style:none !important;  font-size:20px;">
                    <i class="fa fa-check-circle"></i>
                    Allows user to see the payment details of Website sale order.
                </li>
            </ul>
        </div>
    </div>
</section>

<section class="oe_container oe_dark">
    <div class="oe_row">
        <h4 class="oe_slogan">Overview</h4>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">In below image, created one sale order from website and paid via Wire Transfer.</li>
            <div class="oe_demo oe_screenshot">
                <img src="1_website_so_paid.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">In Sale order, list view user can see the Payment Acquirer and Payment Status of the sale order.</li>
            <div class="oe_demo oe_screenshot">
                <img src="2_so_list_view.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="oe_row oe_spaced">
        <div class="oe_span12">
            <li style="list-style-type: square;font-size:16px;">In Sale order, form view user can see the Payment Details. Click on Transactions button to see the Transaction Details.</li>
            <div class="oe_demo oe_screenshot">
                <img src="main_screenshot.png">
            </div>
        </div>
    </div>
</section>

<section class="oe_container" style="background-color: #191970;">
    <div class="oe_row ">
        <div style="margin-bottom:10px;" class="oe_slogan text-center">
            <div class="oe_span12">
                <span class="text-center" style="color:#FFF; font-size:20px;">Contact us for Support, Customization, Implementation</span>
            </div>
            <span class="text-center" style="color:#FFF; font-size:20px;">
                You will get 45 Days free support in case of Bugs/Issue exclude data recovery.
            </span>
            <br/>
        </div>
        <div class="oe_row ">
            <div class="text-center">
                <span class="text-center" style="color:#FFF; font-size:20px;">Email : equickerp@gmail.com</span><br/>
                <span class="text-center" style="color:#FFF; font-size:20px;">Skype : equickerp</span><br/>
            </div>
        </div>
    </div>
</section>