<div class="container" style="padding: 4rem 1.5rem !important">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12"
            style="padding: 4rem 1rem !important; background-color: #03e89b !important; border-radius: 20px !important;">
            <h1
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #FFFFFF !important;  font-size: 3.5rem !important; text-align: center !important;">
                EU GDPR / DPA (Data Protection Act.)</h1>
            <p
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 300 !important; color: #FFFFFF !important;  font-size: 1.4rem !important; text-align: center !important;">
                Allow users to access or remove data under the DPA article 89(1) & 95/46/EC.<br/>
                With the help of this Odoo is compatible with GDPR & Data Protection Act.<br />
                <strong>We also recommend our Cookie Consent Manager (100% EU GDPR Compatible) <a target="_blank" href="https://apps.odoo.com/apps/modules/15.0/gdpr_cookie_notice/" title=" Cookie Consent Manager">Click Here</a></strong>
            </p>
    </div>

    <div class="row mt64">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin-bottom: 2rem !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #181C32 !important; font-size: 1.5rem !important;">
                <i class="fa fa-compass mr-2"></i>Explore this app
            </h2>
        </div>
        <div class="col-md-6">
            <a href="#features" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #ddfff3 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #181C32 !important; font-size: 1.2rem !important;">
                            Features</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #181C32 !important; font-size: 0.9rem !important;">
                            View features of this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #181C32 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
        <div class="col-md-6">
            <a href="#screenshots" style="text-decoration: none !important;">
                <div class="row"
                    style="background-color: #ddfff3 !important; border-radius: 10px !important; margin: 1rem !important; padding: 1.5em !important; height: 100px !important;">
                    <div class="col-8">
                        <h3
                            style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #181C32 !important; font-size: 1.2rem !important;">
                            Screenshots</h3>
                        <p
                            style="font-family: 'Roboto', sans-serif !important; font-weight: 400 !important; color: #181C32 !important; font-size: 0.9rem !important;">
                            See key screenshots of this module</p>
                    </div>
                    <div class="col-4 text-right d-flex justify-content-end align-items-center">
                        <i class="fa fa-chevron-right" style="color: #181C32 !important;"></i>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="row mt32" id="features">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #181C32 !important; font-size: 1.5rem !important;">
                <i class="fa fa-star mr-2"></i>Features
            </h2>
        </div>
        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <i class="fa-2x fa fa-check-circle-o mr8" style="color: #46CDCF !important;"></i>
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    Enable customer request to access their data. </h4>
            </div>
        </div>
        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <i class="fa-2x fa fa-check-circle-o mr8" style="color: #46CDCF !important;"></i>
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                   Enable customer request to delete their data.</h4>
            </div>
        </div>
        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <i class="fa-2x fa fa-check-circle-o mr8" style="color: #46CDCF !important;"></i>
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                   Mange different types of GDPR with backend</h4>
            </div>
        </div>
        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <i class="fa-2x fa fa-check-circle-o mr8" style="color: #46CDCF !important;"></i>
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    Neat & Clean backend as well as frontend UI/UX</h4>
            </div>
        </div>
        <div class="col-md-6 pl-3 py-3 d-flex">
            <div>
                <i class="fa-2x fa fa-check-circle-o mr8" style="color: #46CDCF !important;"></i>
            </div>
            <div>
                <h4
                    style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                    Easy to configure GDPR Type and description and manage user request</h4>
            </div>
        </div>
    </div>

    <div class="row mt32" id="screenshots">
        <div class="col-md-12" style="border-bottom: 1px solid #d5d5d5 !important; margin: 2rem 0 !important">
            <h2
                style="font-family: 'Montserrat', sans-serif !important; font-weight: 600 !important; color: #181C32 !important; font-size: 1.5rem !important;">
                <i class="fa fa-image mr-2"></i>Screenshots
            </h2>
        </div>
        <div class="col-lg-12 my-2">
            <h4 class="mt-2 mt64"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                User Area (In Frontend)</h4>
             <hr/>
            <img src="img/01.png" class="img-responsive img-thumbnail border mt16" width="100%"
                height="auto" />
            <h4 class="mt-2 mt64"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
               GDPR Types</h4>
            <img src="img/02.png" class="mt16 img-responsive img-thumbnail border" width="100%"
                height="auto" />
            <h4 class="mt-2 mt64"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
               GDPR Request</h4>
             <img src="img/03.png" class="mt16 img-responsive img-thumbnail border" width="100%"
                height="auto" />
            <h4 class="mt-2 mt64"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
               GDPR Requested data (Report)</h4>
             <img src="img/report.png" class="mt16 img-responsive img-thumbnail border" width="100%"
                height="auto" />
        </div>
        <div class="col-lg-12 my-2 mt64">
            <h4 class="mt-2"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                Backend</h4>
            <h5 class="mt-2 mt32"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                GDPR Configuration</h5>
             <hr/>
            <img src="img/request.png" class="img-responsive img-thumbnail border" width="100%"
                height="auto" />
            <h5 class="mt-2 mt32"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                GDPR Type</h5>
             <hr/>
            <img src="img/types.png" class="img-responsive img-thumbnail border" width="100%"
                height="auto" />
            <h5 class="mt-2 mt32"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                GDPR User Request (Download)</h5>
            <hr/>
            <img src="img/request-download.png" class="img-responsive img-thumbnail border" width="100%"
                height="auto" />
            <h5 class="mt-2 mt32"
                style="font-family: 'Roboto', sans-serif !important; font-weight: 600 !important; color: #282F33 !important; font-size: 1.3rem !important;">
                GDPR User Request (Delete)</h5>
            <img src="img/request-delete.png" class="img-responsive img-thumbnail border" width="100%"
                height="auto" />
        </div>
    </div>
    <section class="oe_container" style="padding: 2rem 3rem 1rem;">
        <h2 style="font-weight: 600;text-align: center;margin-bottom: 25px;width: 100%;">Suggested Products</h2>
        <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #46CDCF;width: 5%;">
        <div id="demo1" class="row carousel slide" data-ride="carousel">
            <!-- The slideshow -->
            <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/gdpr_cookie_notice/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_1.gif">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/pos_dashboard_themes/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_2.gif">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/theme_pos/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_3.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/activity_management/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_4.gif">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/website_maintenance/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_5.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo1" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
            <span class="carousel-control-prev-icon">
                <i class="fa fa-chevron-left" style="font-size:24px"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next" style="right:-25px;width: 35px;color: #000;">
            <span class="carousel-control-next-icon">
                <i class="fa fa-chevron-right" style="font-size:24px"></i>
            </span>
        </a>
        </div>
    </section>
    <!-- FOOTER -->
    <!-- Footer Section -->
    <section class="container" style="margin: 5rem auto 2rem;">
        <div class="row" style="max-width:1540px;">
            <div class="col-lg-12 d-flex flex-column justify-content-center align-items-center">
                <h2 style="color: #212529 !important;">Need Help?</h2>
                <hr
                    style="border: 3px solid #46CDCF !important; background: linear-gradient(to right, #06beb6, #48b1bf) !important; width: 80px !important; margin-bottom: 2rem !important;" />
            </div>
        </div>

        <!-- Contact Cards -->
        <div class="row d-flex justify-content-center align-items-center"
            style="max-width:1540px; margin: 0 auto 2rem auto;">
            <div class="col-md-12">
                <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                    Any type of issue related to this module, any doubt, any queries contact us. You will get free support upto 3 Years and assistance in case of any issues (Response time within 24 Hours)
                </h3>
            </div>
            <div class="col-lg-12" style="padding: 0rem 3rem 2rem; border-radius: 10px; margin-right: 3rem; ">
                <div class="row mt-4">
                    <div class="col-lg-6">
                        <a href="https://techkhedut.com" target="_blank" class="btn btn-block mb-2 deep_hover"
                            style="text-decoration: none; background-color: #03e89b; color: #FFF;  border-radius: 4px;"><i class="fa fa-globe mr-2"></i>More About Us</a>
                    </div>
                    <div class="col-lg-6">
                        <a href="mailto:info@techkhedut.com" target="_blank" class="btn btn-block mb-2 deep_hover"
                            style="text-decoration: none; background-color: #03e89b; color: #FFF;  border-radius: 4px;"><i
                                class="fa fa-envelope mr-2"></i>info@techkhedut.com</a>
                    </div>

                </div>
            </div>

        </div>
        <!-- End of Contact Cards -->
    </section>

</div>