<section class="container mt32">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="text-align: center;">
                <span align="center" class="label" style="font-size:25px;">
                   </span>Website Cookie Manager in Odoo
                </span>
            </h4>
        </div>
    </div>
</section>
<section class="oe_container oe_dark lead">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="panel panel-primary" style="border: 0 !important;">
                <div class="panel-heading">
                    <h3 class="panel-title" style="font-size: 25px;font-family: Roboto;font-weight: 300 !important;color:#fff !important;">Features</h3>
                </div>
                <div class="panel-body">
                    <ul class="list-unstyled" style="text-align: left;" style="text-align: left;font-family: Roboto;">
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> Cookie Management for all types of needs like Google Analytics, Live Chat, Essentials, Advertising & Much more.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> Manage any type of Cookie by just simply creating Cookie groups.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> All in one cookie management, no need to pay any extra cost for different types of cookie management.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> With Predefined Configuration.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> GDPR Cookie Law & Fully Customizable.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> 100% EU GDPR Cookie compliance Odoo.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> Predefined Themes for cookie popup
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> Different positions for cookie popup.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> Responsive & Mobile Friendly.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> Cross Browser Support & Lightweight.
                        </li>
                        <li class="shadow rounded mb8 mt8" style="padding: 5px 10px;">
                            <i class="fa fa-angle-double-right" style="color: #5a7d18 !important;padding-right:5px;"></i> New Themes in Upcoming Updates.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Popup</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/popup.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Setting Popup Default Selected Group</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/popup-default-select.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Popup Group Different Style: (Style 2)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/popup-group-2.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Popup Group Different Style: (Style 3)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/popup-group-3.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Settings in Backend</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-config-menu.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Style Settings in Backend</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-style-backend.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Options in Backend</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-option-backend.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Setting Popup: Settings in Backend</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-settings-popup-backend.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Group Config in Backend</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-groups-backend.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Add Group in Cookie</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-add-group-backend.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Affected Cookies (NEW)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/affected-cookies.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Different Cookie Positions</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/position-1.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Bottom Right</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/position-2.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Bottom Wide</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/position-3.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Top Left</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/position-4.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Top Right</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/position-5.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Top Wide</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/position-6.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Modern Style</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-style-modern.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Cookie Light Theme</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/cookie-theme.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px;color:red;">Hide Cookie Popup on specific pages (NEW)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/hide-cookie-popup.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px;color:red;">Always allow cookies [First Party & Third Party], & Debug mode to view blocked cookies in developer console mode (NEW)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/default-cookies.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px;color:red;">Third Party Cookie Block domain (NEW)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/third-party-cookie.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px;color:red;">Allow cookies when user select group cookies  (NEW)</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/allow-cookie.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h4 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">100% EU GDPR Compatible Cookies APP [Tested Proof]</h4>
            <div class="oe_demo oe_screenshot" style="margin-bottom:4%;margin-top:5%;">
                <img src="images/eu-proof.png" class="img img-responsive img-fluid" style="display:block;margin:10px auto;width:auto;">
            </div>
        </div>
    </div>
</section>
<section class="oe_container">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h3 class="oe_slogan" style="letter-spacing: -1px !important;margin-top:60px; ">Updates</h3>
            <h5 style="letter-spacing: -1px !important;margin-top:30px;">1.1 - Initial Release</h5>
            <h5 style="letter-spacing: -1px !important;margin-top:5px; ">1.2 - Add Affected Cookies Groups</h5>
            <h5 style="letter-spacing: -1px !important;margin-top:5px; ">1.3 - Block rejected Cookie Values</h5>
            <h4 style="letter-spacing: -1px !important;margin-top:5px;color:black !important">1.4 - Block Google analytic Cookies</h4>
            <h4 style="letter-spacing: -1px !important;margin-top:5px;color:black !important">1.5 - Multi Language Support</h4>
            <h4 style="letter-spacing: -1px !important;margin-top:5px;color:black !important">1.6 - Hide Cookie Popup on certain pages - NEW (CURRENT)</h4>
            <h4 style="letter-spacing: -1px !important;margin-top:5px;color:red !important">1.7 - 100% EU GDPR Compatible Cookie (DEBUG MODE, Third Party & First Party Cookie Control, Only Selected Cookie allow)- NEW (CURRENT)</h4>
        </div>
    </div>
</section>
<section class="oe_container" style="padding: 2rem 3rem 1rem;">
    <h2 style="font-weight: 600;text-align: center;margin-bottom: 25px;width: 100%;">Suggested Products</h2>
    <hr style="margin-top: 0px;margin-bottom: 2%;border: 0;text-align: center;border-top: 3px solid #46CDCF;width: 5%;">
    <div id="demo1" class="row carousel slide" data-ride="carousel">
        <!-- The slideshow -->
        <div class="carousel-inner">
            <div class="carousel-item active" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/eu_gdpr_privacy/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_0.gif">
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/image_svg_builder/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_1.gif">
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/pos_dashboard_themes/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_2.gif">
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/theme_pos/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_3.png">
                        </div>
                    </a>
                </div>
            </div>
            <div class="carousel-item" style="min-height: 0px;">
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/activity_management/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_4.gif">
                        </div>
                    </a>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                    <a href="https://apps.odoo.com/apps/modules/15.0/website_maintenance/" target="_blank">
                        <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                            <img class="img img-responsive center-block" style="border-radius: 10px;width: 310px !important; height: 162px !important;" src="img/suggest_5.png">
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo1" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
            <span class="carousel-control-prev-icon">
                <i class="fa fa-chevron-left" style="font-size:24px"></i>
            </span>
        </a>
        <a class="carousel-control-next" href="#demo1" data-slide="next" style="right:-25px;width: 35px;color: #000;">
            <span class="carousel-control-next-icon">
                <i class="fa fa-chevron-right" style="font-size:24px"></i>
            </span>
        </a>
    </div>
</section>
<section class="oe_container oe_dark">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <h2 class="oe_slogan" style="color: #005581;">
                            Help &amp; Support
                        </h2>
                        <h3 class="oe_slogan" style="font-size: 24px; color: #005581;">
                            Any type of issue related to this module, any doubt, any queries contact us. You will get free support and assistance in case of any issues
                        </h3>
                        <div class="text-center">
                            <a style="color: rgb(255, 255, 255); position: relative; overflow: hidden;" class="btn btn-primary btn-lg" rel="nofollow" href="mailto:info@techkhedut.com" target="_blank">
                                <span class="o_ripple" style="height: 228px; width: 228px; top: -96.2812px; left: 67.25px;"></span>
                                <i class="fa fa-envelope"></i>&nbsp;&nbsp;&nbsp;info@techkhedut.com
                            </a>
                            <a style="color: white; position: relative; overflow: hidden;" class="btn btn-success btn-lg" rel="nofollow" href="https://techkhedut.com" target="_blank">
                                More About Us
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>