<!-- Copyright (c) 2016-Present Webkul Software Pvt. Ltd. (<https://webkul.com/>) -->
<!-- See LICENSE file for full copyright and licensing details. -->
<!-- License URL : https://store.webkul.com/license.html/ -->
<section class="oe_container">
<section class="oe_container">
    <section class="oe_container" id="wk_header">
        <div class="mt32 mb32">
            <h2 class="text-center" style="color:#000">
                Website Paypal Express Checkout Payment Acquirer
            </h2>
            <h5 class="mt8 mb8 text-center" style="font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
                <i>Provide a simplified and secure checkout experience in Odoo!!</i>
            </h5>
        </div>
        <div class="row mt16 mb16 py-2 m-1" style="font-weight:500; font-size:18px; color:#484848; font-family:'Montserrat', sans-serif">
            <div class="container col-md-6  border-right" style="font-weight:500;line-height: 24px;font-size:16px;color:#484848;font-family:'Montserrat', sans-serif; vertical-align: middle; display: grid;">
                <p class="mb4 mt4 mr8">
                    Odoo PayPal Express Checkout Payment Acquirer with Smart Payment Buttons gives your buyers a simplified and secure checkout experience. The customers can opt to securely pay through a PayPal account balance or credit/debit card. PayPal supports MasterCard, Visa, Amex, and Discover.
                </p>
            </div>
            <div class="container col-md-6 ">
                <h4 class="ml-md-3">Information</h4>
                <div class="mt-2 ml-md-3" style="display:flex">
                    <span class="ml-1 mr-2 my-auto"><img src="icon-user-guide.png" alt="user-guide"></span>
                    <div style="font-weight: 600;font-size: 14px;line-height: 10px;" class="mt-2">
                        User Guide
                    </div>
                </div>
                <div class="ml-md-3" style="display:flex;">
                    <span style="font-size:15px; margin-top:0.2rem">https://webkul.com/blog/odoo-website-paypal-express-checkout-payment-acquirer/</span>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container lead">
        <div class="row mt16 mb16">
            <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                    <div class="row">
                        <div class="pl-3">
                            <img class="img-border img-responsive thumbnail img-fluid" src="icon-1.png">
                        </div>
                        <div class="col-10">
                            <h4 class="card-title pt-md-3 text-dark" style="font-size:18px">Why Paypal Payment Acquirer?</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0" style="font-size:16px;">
                    <p class="card-text font-weight-bold">Because it is one of the most secure and reliable payment methods</p>
                    <ul>
                        <li>PayPal intelligently presents the most relevant payment types to your shoppers, automatically.</li>
                        <li>It makes payment easier for customers to complete their purchases using methods like Pay with Venmo, PayPal Credit, Credit Card payments, and other payment types.</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row mt16 mb16">
            <div class="col-md-12">
                <table class="table table-bordered">
                    <thead>
                    <tr style="font-size: 18px;">
                        <th class="pl-5">How can you make the most out of this plugin?</th>
                        <th class="pl-5">Benefits</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td class="border-top-0 border-bottom-0 pb-0"><ul><li>A secure and trustworthy payment gateway for your customers.</li></ul></td>
                        <td class="border-top-0 border-bottom-0 pb-0"><ul><li>Paypal is the most used payment gateway worldwide as it is safe and trusted by many users</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Customers will save their hard-earned money from cyber-frauds.</li></ul></td>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>The smooth payment method attracts new users resulting in increased sales</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Get your Odoo store a large number of customer traffic.</li></ul></td>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Generates a sense of security in your valuable customers and helps to retain them.</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>The customers won&apos;t hesitate in saving their card details as it is secured.</li></ul></td>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Easy and safe refund process of payment to the customers</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Lets you build trust and leads to more sales.</li></ul></td>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Increases customer's trust thus, generate more traffic on your Odoo website</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Customers can pay in allowed currencies as per Paypal policies.</li></ul></td>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>They can also make the payment as a guest using the PayPal portal.</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Admin can easily process the refunds from the panel.</li></ul></td>
                    </tr>
                    <tr>
                        <td class="border-top-0 border-bottom-0 py-0"><ul><li>Customers can log in to their PayPal account and pay using their PayPal account balance and/or saved credit/debit card.</li></ul></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <div class="row mt16 mb16">
            <div class="card shadow-sm">
                <div class="card-header bg-transparent border-0">
                    <div class="row">
                        <div class="pl-3">
                            <img class="img-border img-responsive thumbnail img-fluid" src="icon-2.png">
                        </div>
                        <div class="col-10">
                            <h4 class="card-title pt-md-3 text-dark" style="font-size:18px">Configure PayPal Express Checkout with Odoo</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0" style="font-size:16px;">
                    <p class="card-text">Before configuring PayPal, it&apos;s necessary to create an account on the same. Below is the list of steps to have PayPal Express up and running on your Odoo website.</p>
                    <h4 class="pl-4">PayPal Account</h4>

                    <ul>
                        <li>Firstly, create A PayPal Account to receive payments from the customers placing orders on your Odoo website.</li>
                    </ul>
                    <h4  class="pl-4">Paste PayPal Client Id in Odoo</h4>

                    <ul>
                        <li>Once your account is created you will get a unique Client ID. Install the module in your Odoo and paste your PayPal Client ID in the form for PayPal Express checkout in Odoo.</li>
                    </ul>
                    <h4 class="pl-4">Publish the Paypal payment method in Odoo</h4>

                    <ul>
                        <li>Then publish the payment method on the Odoo website to make it available for the customers.</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container lead" style="font-family:'Open Sans', sans-serif;">
        <div class="row mb16 pb162">
            <div class="container text-center mt32 mb-4" style="color:#333333;font-size:20px;font-weight:bold;">
                Highlighted-Features
            </div>
            <div class="container">
                <div class="row ml0 mr0">
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;">
                        <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                        <div class="col-md-3 col-2 my-auto px-0">
                            <img src="feature-icon-1.png" alt="Not found">
                        </div>
                        <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                            <p class="font-weight-bold">One-stop solution to safe and fraud-free payment process on Odoo website</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;">
                    <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                        <div class="col-md-3 col-2 my-auto px-0">
                            <img src="feature-icon-2.png" alt="Not found">
                        </div>
                        <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                            <p class="font-weight-bold">One-step integration process of Paypal with Odoo</p>
                        </div>
                    </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;" >
                        <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                            <div class="col-md-3 col-2 my-auto px-0">
                                <img src="feature-icon-3.png" alt="Not found">
                            </div>
                            <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                                <p class="font-weight-bold">Manages and process all the crucial information of a customer with full security</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;" >
                        <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                            <div class="col-md-3 col-2 my-auto px-0">
                                <img src="feature-icon-4.png" alt="Not found">
                            </div>
                            <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                                <p class="font-weight-bold">Customers can pay in allowed currencies to purchase globally</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;" >
                        <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                            <div class="col-md-3 col-2 my-auto px-0">
                                <img src="feature-icon-5.png" alt="Not found">
                            </div>
                            <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                                <p class="font-weight-bold">You can process the refunds for the customers easily</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;" >
                        <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                            <div class="col-md-3 col-2 my-auto px-0">
                                <img src="feature-icon-6.png" alt="Not found">
                            </div>
                            <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                                <p class="font-weight-bold">Make the payment as a guest using the PayPal portal.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-6 p-2" style="display:flex;" >
                        <div class="row col-md-12  py-2" style="background-color: #FFFFFF;border-radius: 2px;">
                            <div class="col-md-3 col-2 my-auto px-0">
                                <img src="feature-icon-7.png" alt="Not found">
                            </div>
                            <div class="my-auto col-md-9 col-10 pr-0" style="font-size:18px;line-height: 22px;font-weight: 400;">
                                <p class="font-weight-bold">Paypal does not reveal the credit card details to the sellers except the account number.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="oe_container mp_tabs">
        <div class="mp-nav-center pt-2 text-center">
            <ul class="mp-nav nav nav-tabs justify-content-center pt-2" style="background-color:#EBF3F5">
                <li class="nav-item  mr-1" style="background-color:#EBF3F5">
                    <a href="#wk_tab1" class="nav-link active" role="tab" aria-selected="true"
                        data-toggle="tab" style="color:#2335D7; padding:7px 20px; border-radius:10px 10px 0px 0px; border:1px solid #2335D7; border-bottom:0px">
                        Website & Backend
                    </a>
                </li>
                <li class="nav-item  mr-1" style="background-color:#EBF3F5">
                    <a href="#wk_tab2" class="nav-link active" role="tab" aria-selected="true"
                        data-toggle="tab" style="color:#2335D7; padding:7px 20px; border-radius:10px 10px 0px 0px; border:1px solid #2335D7; border-bottom:0px">
                        Setup & Configuration
                    </a>
                </li>
                <li class="nav-item mr-1" style="background-color:#EBF3F5">
                    <a href="#wk_tab3" class="nav-link" role="tab" aria-selected="true"
                        data-toggle="tab" style="color:#2335D7; padding:7px 20px; border-radius:10px 10px 0px 0px; border:1px solid #2335D7; border-bottom:0px">
                        Detailed Features
                    </a>
                </li>
            </ul>
        </div>
        <div id="my-tab-content" class="tab-content">
            <div class="tab-pane container active" id="wk_tab1"
                style="background: #FFFFFF;box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);padding:1% 2%;">
                <section class="oe_container mb-4 mt-4" style="background: #FFFFFF;">
                    <div class="oe_container">
                        <div class="card">
                            <div class="card-header pt-4">
                                <h4 class="card-title" style="font-size:18px; color: #333333;text-align: center;">Website Payment</h4>
                            </div>
                            <div class="card-body  border-top" style="padding: 2%; font-size: 16px;text-align: left;">
                                <a href="1.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="1.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:center;">
                                <a href="2.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="2.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:center;">
                                <a href="3.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="3.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:center;">
                                <a href="4.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="4.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="oe_container mb-4 mt-4" style="background: #FFFFFF;">
                    <div class="oe_container">
                        <div class="card">
                            <div class="card-header pt-4">
                                <h4 class="card-title" style="font-size:18px; color: #333333;text-align: center;">Odoo Backend</h4>
                            </div>
                            <div class="card-body border-top" style="padding: 2%; font-size: 16px;text-align: left;">
                                <ul>
                                    <li> Payment transaction entry at odoo backend.</li>
                                </ul>
                                <a href="5.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="5.png">
                                </a>
                            </div>
                            
                        </div>
                    </div>
                </section>
                <section class="oe_container mb-4 mt-4" style="background: #FFFFFF;">
                    <div class="oe_container">
                        <div class="card">
                            <div class="card-header pt-4">
                                <h4 class="card-title" style="font-size:18px; color: #333333;text-align: center;">Paypal Dashboard</h4>
                            </div>
                            <div class="card-body border-top" style="padding: 2%; font-size: 16px;text-align: left;">
                                <ul>
                                    <li>All transactions listing in Paypal dashboard.</li>
                                </ul>
                                <a href="6.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="6.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding: 2%; font-size: 16px;text-align: left;">
                                <ul>
                                    <li>Payment details in Paypal dashboard.</li>
                                </ul>
                                <a href="7.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="7.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane container" id="wk_tab2"
                style="background: #FFFFFF;box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);padding:1% 2%;">
                <section class="oe_container mb-4 mt-4" style="background: #FFFFFF;">
                    <div class="oe_container">
                        <div class="card">
                            <div class="card-header pt-4">
                                <h4 class="card-title" style="font-size:18px; color: #333333;text-align: center;">Paypal Credentials</h4>
                            </div>
                            <div class="card-body  border-top" style="padding: 2%; font-size: 16px;text-align: left;">
                                <ul>
                                    <li>As this module provide Paypal Payment API integration thus first of all you will have to create an account on Paypal.</li>
                                </ul>
                                <a href="8.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="8.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:left;">
                                <ul>
                                    <li>Create an app to receive REST API credentials for testing and live transactions.</li>
                                </ul>
                                <a href="9.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="9.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:center;">
                                <a href="10.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="10.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:center;">
                                <a href="11.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="11.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:left;">
                                <ul>
                                    <li>Finally paste the client ID in Paypal Express Checkout Payment Acquire in Odoo .</li>
                                </ul>
                                <a href="12.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="12.png">
                                </a>
                            </div>
                            <div class="card-body border-top" style="padding:2%; font-size:16px; text-align:left;">
                                <ul>
                                    <li>Update Shipping or Billing details from PayPal end</li>
                                </ul>
                                <a href="13.png">
                                    <img class="img-border img-responsive thumbnail img-fluid"
                                        style="border: 1px solid #E0E0E0;" src="13.png">
                                </a>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="tab-pane container" id="wk_tab3"
                style="background: #FFFFFF;box-shadow: 0 0 2px 1px rgba(0,0,0,0.14);padding:1% 2%;">
                <section class="oe_container mb-4 mt-4" style="background: #FFFFFF;">
                    <div class="oe_container">
                        <div class="card border-0">
                            <div class="card-header bg-transparent border-0 text-left">
                                <h3 style="font-size: 24px;">Detailed Features List</h3>
                            </div>
                            <div class="card-body pt-0" style="font-family: 'Open Sans', sans-serif;font-style: normal;font-weight: normal;font-size: 16px;line-height: 22px;
                            ">
                                <div class="row mb16 mp-features">
                                    <div class="col-md-6 mt16 mb16" style="display:flex;">
                                        <div class="card shadow-sm w-100" style="background: #FFFFFF;padding:4% 4% 1% 4%;">
                                            <div class="container pl-0" style="color:#333333;">
                                                <h4 style="font-size:18px;">Add A New Payment Method To Odoo Website</h4>
                                            </div>
                                            <div class="container mt16 pl-0" style="color:#555555; font-size:16px;">
                                                <ul class="pl-2 list-unstyled">
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The module customers to pay quickly using PayPal Express Checkout for their online purchases from your Odoo website.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>Once integrated, the Odoo admin can accept payments from all around the world on his website with PayPal Checkout.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>PayPal Express Checkout Payment shows up as one of the payment methods on the check out page on Odoo website.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt16 mb16" style="display:flex;">
                                        <div class="card shadow-sm w-100" style="background: #FFFFFF;padding:4% 4% 1% 4%;">
                                            <div class="container pl-0" style="color:#333333;">
                                                <h4 style="font-size:18px;">Quick & Secure Payments</h4>
                                            </div>
                                            <div class="container mt16 pl-0" style="color:#555555; font-size:16px;">
                                                <ul class="pl-2 list-unstyled">
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The customers can complete the payment on your website without being redirected to other websites.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The customers can choose to log in to their PayPal account or pay as a guest on the PayPal payment portal.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>Use PayPal balance or any saved debit/credit cards to make the payment</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The customer needs to fill in the required details to complete the transaction.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt16 mb16" style="display:flex;">
                                        <div class="card shadow-sm" style="background: #FFFFFF;padding:4% 4% 1% 4%;">
                                            <div class="container pl-0" style="color:#333333;">
                                                <h4 style="font-size:18px;">One Step Integration In Odoo</h4>
                                            </div>
                                            <div class="container mt16 pl-0" style="color:#555555;font-size:16px;">
                                                <ul class="pl-2 list-unstyled">
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>Easy steps for PayPal Express Checkout Payment acquirer integration with Odoo.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>Just paste your PayPal client ID into Odoo to integrate PayPal Express Checkout with Odoo.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt16 mb16" style="display:flex;">
                                        <div class="card shadow-sm" style="background: #FFFFFF;padding:4% 4% 1% 4%;">
                                            <div class="container pl-0" style="color:#333333;">
                                                <h4 style="font-size:18px;">Track Transaction History</h4>
                                            </div>
                                            <div class="container mt16 pl-0" style="color:#555555;font-size:16px;">
                                                <ul class="pl-2 list-unstyled">
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The Odoo admin can see the transaction details of the orders in the Odoo backend.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The order form shows the details of the mode of payment used by the customer to make the payment for his/her order.</li>
                                                    <li class="d-flex"><i class="fa fa-check mr-2" style="color:#500FDA"></i>The list of the transaction is also maintained in the PayPal merchant portal of the odoo admin.</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
</section>

<section class="pt32" id="webkul_support">
    <div class="row">
        <div class="col-12">
            <h2 class="text-center">Help and Support</h2>
            <p class="mb-2 text-center" style="font-size:16px; color:#333; font-weight:400">Get Immediate support for any of your query</p>
        </div>
        <div class="col-12">
            <p class="text-center px-5" style="font-size:14px; color:#555; font-weight:normal">You will get 90 days free support for any doubt, queries, and bug fixing (excluding data recovery) or any type of issue related to this module.</p>
        </div>
        <div class="mx-auto col-lg-9 mb-4 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="mail.png" alt="mail" class="img img-fluid">
                </div>
                <div class="col-xl-7 col-sm-10">
                    <p class="my-2" style="color:#555; font-weight:bold">Write a mail to us:</p>
                    <b class="text-primary" style="font-size:18px">support@webkul.com</b>
                    <p class="my-2" style="font-size:14px; color:#777; font-weight:normal">Any queries or want any extra features? Just drop a mail to our support.</p>
                </div>
                <div class="col-xl-3 offset-xl-0 float-xl-right col-sm-10 offset-sm-2 float-left mt16">
                    <a href="mailto:support@webkul.com" style="padding:10px 22px; background-color:#2335D7; font-size:14px; color:#fff"><i class="fa fa-pencil-square-o" style="color:white; margin-right:4px"></i>Write To US</a>
                </div>
            </div>
        </div>
        <div class="mx-auto col-lg-9 oe_screenshot">
            <div class="row align-items-center justify-content-center mx-0 p-3">
                <div class="col-sm-2 text-center pr-0">
                    <img src="support-icon.png" alt="support-icon" class="img img-fluid">
                </div>
                <div class="col-sm-10 ">
                    <p class="my-2" style="font-weight:bold; color:#555">Get in touch with our Expert:</p>
                    <b class="text-primary text-break" style="font-size:18px">https://webkul.uvdesk.com/en/customer/create-ticket/</b>
                    <p class="my-2" style="font-weight:normal; font-size:14px; color:#777">Have any technical queries, want extra features, or anything else? Our team is here to answer all your questions. Just Raise A Support Ticket.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="oe_container">
    <div class="">
        <!-- Piwik Image Tracker-->
        <img src="http://odooimg.webkul.com/analytics/piwik/piwik.php?idsite=3&rec=1&action_name=PAYPAL-EXPRESS-CHECKOUT-PAYMENT-ACQUIRER&url=https://apps.openerp.com/apps/modules/13.0/payment_paypal_express&uid=payment_paypal_express" style="border:0" alt="" />
        <!-- End Piwik -->
    </div>
</section>
